body {
    background-color: black;
    color: white;

}

.important {
    background-color: #272621;
    color: white !important;  
}

.detail-item h3, .contact-info p, .detail-item p, .detail ul {
    color: white;
}

.contact-info {
    background-color: #272621;
    color: white;
}

.contact-section {
    background-color: #272621;
}

.contact-form input,
.contact-form textarea {
    background-color: transparent;
}
.countdown-container {
    color: white;
}


.sun{
    font-size: 15px;
    color: white;
    margin-right: 5px;
    visibility: hidden;
}

.moon{

    font-size: 15px;
    color: yellow;
    margin-left: 5px;
}

.logo {
    height: 100vh;
    background: url(/Assets/IMG/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
    filter: grayscale();
    
}
